#navbar{
    display: flex;
    height: 60px;
    font-size: xx-small;
    justify-content: center;
    justify-content: space-between;
    padding-left: 50px;
    border-bottom: 2px solid rgb(184, 167, 167);
    margin-bottom: 50px;background-color: white;
    top: 0%;
    left: 0%;
    width: 100%;
    position: fixed;

}
#option{
    display: flex;
    width: 40%;
    height: 50px;
    margin-right: 20px;
  justify-content: space-evenly; 
  
}
#globe{   
    height: 20px;
    cursor: pointer;
    margin-top: 12px;    
}

#bell{  
    height: 46px;
    cursor: pointer;  
}
#img{
  
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    justify-content: space-between;
  

}
#img>img{
    height: 30px;
    border: 1px solid rgb(40, 40, 17);
    
}

#arrow{
    margin-bottom: -10px;
   
    height: 30px;
}
#support{
  
    width: 60px;
    color: black;
    text-decoration-line: none;
}
#support:hover{
    color: cornflowerblue;
}

#gloveh3{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 30px;
   
    
}
#english{
    color: black;
    text-decoration-line: none; 
}
#english:hover{
    color: cornflowerblue;
}
#trips{
   
    color: black;
    text-decoration-line: none;
}
#trips:hover{
    color: cornflowerblue;
}
#singin{
   
    color: black;
    text-decoration-line: none;
}
#singin:hover{
    color: cornflowerblue;
}
#more_travel{
    cursor: pointer;
    position: relative;
    background-color: white;
       height: 30px;
    margin-top: 5px;
    border: 0px;
}
#more_travel:hover{
    color:cornflowerblue ;
}

.popup{
   
   width: 350px;
   height: 400px;
   position: absolute;
   background-color: white;
   border-radius: 10px;
   margin-bottom: -20px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   padding-top: 10px;
   padding-bottom: 10px;
   visibility: hidden;
}
.optionselect{
    width: 100%;
    height: 12%;
   
    cursor: pointer;
    display: flex;
    justify-content: left;
}
.optionselect:hover{
    background-color:rgb(133, 177, 213) ;
}
.optionselect>p{
     font-size: medium;
     margin-left: 10px;
     
}
.optionselect>img{
    height: 45px;
    margin-left: 30px;
}
.optionselect>h1{
    margin-left: 40px;
    font-size: medium;
}

.popup-show{
    visibility: visible;
}
